<!DOCTYPE html>
<html>
    <head>
        <title>Cs 팀 나누기 즐겜 고고</title>
        <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
        <style>
            html, body {
                font-size: 14px;
            }
            .bd01 {
                border: 1px solid #000;
                padding: 4px;
            }
            .inline-b {
                display: inline-block;
            }
            .inline {
                display: inline;
            }
            .inline-g {
                display: inline-grid;
            }
            .align-r {
                text-align: right;
            }
            .bg1 {
                background-color: #f0f0f0;
            }
            .member {
                padding: 2px 2px;
            }
            .member:hover {
                background-color: rgb(178, 220, 240);
            }
            .m-no {
                display: inline-block;
                width: 17px;
                text-align: right;
            }
            .m-name {
                width: calc(100% - 230px);
                padding: 2px;
                border-radius: 2px;
                border: 1px solid #000;
            }
            .m-levels {
                vertical-align: top;
            }
            .m-tribes {
                vertical-align: top;
            }

            .team-member {
                padding: 2px 2px;
                margin: 2px 2px;
                border-radius: 2px;
                cursor: pointer;
                border: 1px solid #000;
            }
            [data-level] {
                position: relative;
                border-radius: 2px;
            }
            [data-level]:before {
                /* position: absolute;
                left: -5px;
                top: -5px; */
                display: inline-block;
                border-radius: 16%;
                width: 14px;
                height: 14px;
                font-size: 10px;
                text-align: center;
                border: 1px solid #000;
                margin: 0px 2px;
                vertical-align: text-bottom;
            }
            [data-level="R"] {
                background-color: rgb(255 0 0 / 70%);
            }
            [data-level="R"]:before {
                content: attr(data-level);
                background-color: rgb(255 0 0 / 80%);
            }
            [data-level="S"] {
                background-color: rgb(255 141 0 / 50%);
            }
            [data-level="S"]:before {
                content: attr(data-level);
                background-color: rgb(255 141 0 / 80%);
            }
            [data-level="A"] {
                background-color: rgb(239 255 0 / 50%);
            }
            [data-level="A"]:before {
                content: attr(data-level);
                background-color: rgb(239 255 0 / 50%);
            }
            [data-level="B"] {
                background-color: rgb(4 255 0 / 50%);
            }
            [data-level="B"]:before {
                content: attr(data-level);
                background-color: rgb(4 255 0 / 50%);
            }
            [data-level="C"] {
                background-color: rgb(0 196 255 / 50%);
            }
            [data-level="C"]:before {
                content: attr(data-level);
                background-color: rgb(0 196 255 / 50%);
            }
            [data-level="D"] {
                background-color: rgb(255 0 247 / 50%);
            }
            [data-level="D"]:before {
                content: attr(data-level);
                background-color: rgb(255 0 247 / 50%);
            }
            /* [data-tribe="zerg"] {
                padding-right: 5px;
            } */
            [data-tribe="zerg"]:after {
                content: 'Z';
                position: absolute;
                top: 0px;
                right: 0px;
                font-size: 10px;
                color: #fff;
                text-align: center;
                background-color: #ff000087;
                padding: 0px 3px;
                border-top-right-radius: 1px;
            }
            /* [data-tribe="protoss"] {
                background-color: rgb(255 255 0 / 80%);
            }
            [data-tribe="protoss"]:before {
                content: 'p:';
            }
            [data-tribe="terran"] {
                background-color: rgb(0 0 255 / 70%);
                color: #fff;
            }
            [data-tribe="terran"]:before {
                content: 't:';
            }
            [data-tribe="random"] {
                background-color: rgb(0 128 0 / 70%);
                color: #fff;
            } */
        </style>
    </head>
    <body>
        <div id="main" style="display: none; width: 100%; height: 100%;">
            <div class="inline-g" style="float: left; width: 350px; ">
                <div class="bd01 inline-b" style="width: 100%;">
                    <textarea style="width: 95%; height: 50px;"
                        v-model="regMemberSrc"
                    ></textarea>
                    <button @click="regMembers">멤버 등록</button>
                    <span>공백, 콤마, 엔터 구분</span>
                </div>
                <div class="align-r" style="margin-top: 10px;">
                    <button @click="delAllMembers">전체삭제</button>
                    <button @click="sortMembers">재정렬</button>
                    <span>전체 : {{members.length}}명</span>
                    <span>선택 : {{selectedMembers.length}}명</span>
                </div>
                <div class="bd01" style="width: 100%;">
                    <div class="member"
                        v-for="(member, i) in members"
                        :class="{
                            bg1: i%2==0
                        }"
                    >
                        <input type="checkbox"
                            :value="member"
                            v-model="selectedMembers"
                        />
                        <span class="m-no">{{i+1}}.</span>
                        <div class="m-name inline-b"
                            :data-tribe="member.tribe"
                            :data-level="member.level"
                        >{{member.name}}</div>

                        <div class="m-levels inline-b">
                            <select
                                v-model="member.level"
                                :data-level="member.level"
                            >
                                <option v-for="level in values.levels"
                                    :value="level.id"
                                    :data-level="level.id"
                                >{{level.id}}</option>
                            </select>
                        </div>

                        <div class="m-tribes inline-b">
                            <select
                                v-model="member.tribe"
                                :data-tribe="member.tribe"
                            >
                                <option v-for="t in values.tribes"
                                    :value="t"
                                    :data-tribe="t"
                                >{{t}}</option>
                            </select>
                        </div>
                        <button class="inline" @click="delMembers(member.name)">삭제</button>
                    </div>
                </div>
            </div>
            <!-- 
            <div class="inline-b" style="width: 200px; min-height: 300px;">
                <div class="bd01" style="width: 100%; min-height: 300px;">
                    <div class="member"
                        v-for="(member, i) in selectedMembers"
                        :class="{
                            bg1: i%2==0
                        }"
                    >
                        <span class="m-no">{{i+1}}.</span>
                        <div class="m-name inline">{{member}}</div>
                    </div>
                </div>
            </div>
             -->
            <div class="inline-g" style="width: 350px; min-height: 200px; margin-left: 20px;">
                <div class="bd01" style="width: 100%;">
                    <div>
                        <span>팀 수</span>
                        <select v-model="teamSize">
                            <option v-for="n in 30">{{n}}</option>
                        </select>
                        <span>팀당 인원</span>
                        <select v-model="memberCntForTeam">
                            <option v-for="n in 20">{{n}}</option>
                        </select>
                    </div>
                    <div>
                        <button @click="devideTeams">나누기 gogo</button>
                        <button @click="copyTeamsText">베넷 채팅용 텍스트 복사</button>
                    </div>
                    <div style="margin-top: 5px">
                        <input type="checkbox" id="devideZerg" v-model="devideZerg.use">
                        <label for="devideZerg">
                            <span>각 팀 저그 배정. 확률 :</span>
                            <select v-model="devideZerg.percent">
                                <option
                                    v-for="n in [100, 90, 80, 70, 60, 50, 40, 30, 20, 10]"
                                    :value="n"
                                >{{n}}%</option>
                            </select>
                        </label>
                    </div>
                    <div style="margin-top: 10px">
                        <input type="checkbox" id="devideTeamBlance" v-model="teamBalance.use">
                        <label for="devideTeamBlance">
                            <span>팀밸런스</span>
                            <span
                                v-for="(level, i) in values.levels"
                            >{{level.id}}:{{level.point}}{{i>0 && i+1!=values.levels.length ? ', ' : ' '}}</span>
                            <span>, S이상두명+0.5, B이하두명-1</span>
                        </label>
                    </div>
                    <div style="margin-top: 10px; font-size: 12px; color: red;"
                        v-if="!!this.lastDevideTeamsTime"
                    >
                        마지막 나누기 : {{lastDevideTeamsTimeStr}}
                    </div>
                    <div style="margin-top: 10px">
                        <div style="margin-bottom: 6px;"
                            v-for="(team, i) in teams"
                        >
                            <span>{{i+1}}팀({{ calcTeamLevelPoints(team) }}) : </span>
                            <span class="team-member"
                                v-for="member in team"
                                :data-tribe="member.tribe"
                                :data-level="member.level"
                                @click="showChangeTeamMemberWindow({team, member}, $event)"
                            >{{member.name}}</span>
                        </div>
                        <div style="margin-top: 20px;"
                            v-if="obsTeam.length > 0">
                            <span>옵저버 : </span>
                            <span class="team-member"
                                v-for="member in obsTeam"
                                :data-tribe="member.tribe"
                                :data-level="member.level"
                            >{{member.name}}</span>
                        </div>
                    </div>

                    <dialog v-if="changeTeamMember.showWindow">
                        
                    </dialog>
                </div>
            </div>
            <div class="inline-g" style="width: 350px; min-height: 150px; margin-left: 20px; margin-top: 20px;">
                <div class="bd01" style="width: 100%;">
                    <div>
                        승률 계산. 좌측에 승 띄고 패 입력.<br>
                        ex) |20 10 | 66.67%|
                    </div>
                    <div style="height: 100%;">
                        <textarea style="width: 120px;height: calc(100% - 50px);margin: 0px;float: left;"
                            v-model="winningRate.src"
                        ></textarea>
                        <textarea readonly style="width: 80px;height: calc(100% - 50px);text-align: right;float: left;"
                            v-model="winningRate.result"
                        ></textarea>
                    </div>
                </div>
            </div>
        </div>
    </body>
    <script>
        window.v = new Vue({
            el: '#main',
            data() {
                return {
                    values: {
                        levels: (() => {
                            let list = [
                                {id: 'R', point: 5.5},
                                {id: 'S', point: 4},
                                {id: 'A', point: 3},
                                {id: 'B', point: 2},
                                {id: 'C', point: 1.5},
                                {id: 'D', point: 1},
                            ];

                            list.pointIndex = list.reduce((data, level) => {
                                data[level.id] = level.point;
                                return data;
                            },{});
                            list.highLevels = list.slice(0, 2).map(level => level.id);
                            list.lowLevels = list.slice(list.length-3).map(level => level.id);

                            return list;
                        })(),
                        tribes: ['random', 'zerg', 'protoss', 'terran'],
                    },
                    indexObj: {
                        members: {}
                    },

                    regMemberSrc: '',
                    members: [],
                    selectedMembers: [],
                    useObs: false,
                    memberCntForTeam: 3,
                    teamSize: 4,
                    teams: [],
                    obsTeam: [],
                    lastDevideTeamsTime: null,
                    changeTeamMember: {
                        showWindow: false,
                        teamNumber: null,
                        member: null,
                    },
                    devideZerg: {
                        use: false,
                        percent: 100
                    },
                    teamBalance: {
                        use: false,
                    },
                    
                    winningRate: {
                        src: '',
                        result: ''
                    },
                    
                }
            },
            watch: (()=>{
                let obj = {
                    // members: function(){
                    //     this.calcTeamCount();
                    //     this.saveAll();
                    // },
                    members: {
                        deep: true,
                        handler: function(){
                            this.members.forEach(member => {
                                this.indexObj.members[member.name] = member;
                            });

                            this.calcTeamCount();
                            this.saveAll();
                        }
                    },
                    'winningRate.src': function(){
                        this.calcWinningRate();
                        this.saveAll();
                    }
                };
                ['selectedMembers', 'regMemberSrc', 'teams', 'obsTeam'].forEach(t => {
                    obj[t] = function(){
                        this.saveAll();
                    };
                })
                return obj;
            })(),
            computed: {
                lastDevideTeamsTimeStr: function(){
                    if(!this.lastDevideTeamsTime) return '';
                    let dt = new Date(this.lastDevideTeamsTime);

                    function p(s){
                        return (s>9 ? '' : '0') + s;
                    }

                    let mm = dt.getMonth() + 1;
                    let dd = dt.getDate();
                    let h = dt.getHours();
                    let m = dt.getMinutes();
                    let s = dt.getSeconds();

                    return `${p(dt.getHours())}:${p(dt.getMinutes())}:${p(dt.getSeconds())}`;
                }
            },
            created() {
                this.loadAll();
            },
            mounted() {
                this.$el.style.display = '';
            },
            methods: {
                loadAll: function(){
                    let str = localStorage.getItem('savedata');
                    if(!str) return;
                    let obj = JSON.parse(str);
                    console.log('load data :', obj);

                    // members
                    (() => {
                        this.defaultLevel = this.values.levels[Math.floor(this.values.levels.length/2)];
                        obj.members && obj.members.forEach(m => {
                            m.tribes = m.tribes || 'random';
                            m.level = m.level || this.defaultLevel.id;
                        });
                    })();

                    try{
                        Object.assign(this, obj);
                    }catch(e){
                        console.error('load data error');
                        localStorage.removeItem('savedata');
                    }
                },
                saveAll: function(){
                    clearTimeout(this._timer_savedata);
                    setTimeout(() => {
                        let obj = {};
                        let except = ['values'];
                        for(var k in this.$data){
                            if(except.includes(k)) continue;
                            obj[k] = v.$data[k];
                        }
                        localStorage.setItem('savedata', JSON.stringify(obj));
                    }, 200);
                },
                regMembers: function(){
                    let list = [];
                    this.regMemberSrc.trim().split(' ').forEach(a => {
                        a.split(',').forEach(b => {
                            b.split('\n').forEach(c => {
                                c = c.trim();
                                if(!c) return;
                                list.push(c);
                            })
                        })
                    });
                    
                    if(list.length === 0) return;
                    console.log('reg src :', list.length, list);
                    
                    list.forEach(name => {
                        if(this.members.find(m => m.name === name)){
                            return;
                        }

                        console.log('add :', name);

                        let bMember = this.indexObj.members[name] = this.indexObj.members[name] || {
                            name,
                            tribe: 'random',
                            level: this.defaultLevel.id,
                        };
                        this.members.push(bMember);
                    });

                    this.sortMembers();
                },
                sortMembers: function(){
                    this.members.sort((a,b) => {
                        let gap = this.values.levels.pointIndex[b.level]
                                        - this.values.levels.pointIndex[a.level];
                        if(gap !== 0) return gap;
                        return a.name.localeCompare(b.name);
                    });
                },
                delAllMembers: function(){
                    if(!confirm('전체삭제???')) return;
                    this.members = [];
                    this.selectedMembers = [];
                },
                delMembers: function(ms){
                    if(!ms) return;
                    if(typeof ms == 'string') ms = [ms];

                    ms.forEach(name => {
                        let idx = this.members.findIndex(m => m.name === name);
                        if(idx > -1) this.members.splice(idx, 1);

                        idx = this.selectedMembers.findIndex(m => m.name === name);
                        if(idx > -1) this.selectedMembers.splice(idx, 1);
                    });
                },
                calcTeamCount: function(){
                    if(this.members.length === 0) return;
                    let teamSize = Math.floor(this.members.length / this.memberCntForTeam);
                    teamSize -= teamSize % 2;
                    this.teamSize = teamSize;
                },
                sortTeam: function(team){
                    let compare = (a,b) => {
                        if(a.tribe === 'zerg'){
                            if(b.tribe === 'zerg'){
                                return this.values.levels.pointIndex[b.level]
                                        - this.values.levels.pointIndex[a.level];
                            }
                            return -1;
                        }else if(b.tribe === 'zerg'){
                            return 1;
                        }
                        return this.values.levels.pointIndex[b.level]
                                        - this.values.levels.pointIndex[a.level];
                    };
                    team.sort(compare);
                    return team;
                },
                devideTeams: function({deviceOnly}){
                    this.lastDevideTeamsTime = Date.now();

                    let teams = this.teams = new Array(parseInt(this.teamSize));
                    let list = this.members.concat();
                    // shuffle
                    list = list.map((a) => [Math.random(),a]).sort((a,b) => a[0]-b[0]).map((a) => a[1]);
                    
                    // 저그 나누기
                    if(this.devideZerg.use){
                        let zergs = (() => {
                            let zergs = list.filter(m => m.tribe === 'zerg');
                            
                            while(zergs.length > teams.length){
                                let idx = parseInt(Math.random() * zergs.length);
                                zergs.splice(idx, 1);
                            }
    
                            return zergs;
                        })();

                        let teamNums = Array.from(Array(teams.length).keys())
                                        .map((a) => [Math.random(),a]).sort((a,b) => a[0]-b[0]).map((a) => a[1]);

                        for(let i=0; zergs.length>0 && i<teamNums.length; i++){
                            if(Math.random() * 100 > this.devideZerg.percent){
                                continue;
                            }

                            let tn = teamNums[i];
                            let team = teams[tn] = teams[tn] || [];

                            let member = zergs.pop();
                            team.push( member );

                            let idx = list.findIndex(m => m===member);
                            list.splice(idx, 1);
                        }
                    }

                    // 팀 나누기
                    let setTeams = () => {
                        if(list.length == 0) return;
                        let chk = false;
                        for(let i=0; i<teams.length; i++){
                            let team = teams[i] = teams[i] || [];
                            
                            if(list.length > 0 && team.length < this.memberCntForTeam){
                                chk = true;
                                let idx = parseInt(Math.random() * list.length);
                                team.push( list[idx] );
                                list.splice(idx, 1);
                            }
                        }
                        if(!chk) return;
                        setTeams();
                    }
                    setTeams();

                    if(!deviceOnly && this.teamBalance.use){
                        let getGap = (ts) => {
                            // let sum = ts.reduce((sum, team) => {
                            //     team.points = this.calcTeamLevelPoints(team);
                            //     sum += team.points;
                            //     return sum;
                            // }, 0);
                            // ts.avg = sum / ts.length;
                            // ts.forEach(team => {
                            //     let gap = team.points - ts.avg;
                            //     ts.gap = Math.max(ts.gap || 0, gap);
                            // });
                            let list = ts.map(t => this.calcTeamLevelPoints(t));
                            ts.gap = Math.max.apply(null, list) - Math.min.apply(null, list);
                            return ts.gap;
                        };

                        // let list = [teams.concat()];
                        // let balanceCreateSize = Math.max(10, teams.length * 10);
                        // for(let i=0; i<balanceCreateSize; i++){
                        //     let ts = this.devideTeams({deviceOnly: true}).concat();
                        //     getGap(ts);
                        //     list.push(ts)
                        // }
                        // list.sort((a,b) => a.gap - b.gap);
                        // teams = this.teams = list[0];
                        let ts = teams;
                        let tempTs = ts;
                        let loop = 0, loopLimit = 20000;
                        while(getGap(ts) >= 1){
                            if(loop++ >= loopLimit){
                                console.warn('devide team - balance loop break :', loopLimit);
                                ts = tempTs;
                                break;
                            }
                            if(ts.gap < tempTs.gap){
                                tempTs = ts;
                            }
                            ts = this.devideTeams({deviceOnly: true}).concat();
                        }
                        console.log('devide team - loop count :', loop-1, new Date());
                        teams = this.teams = ts;
                    }
                    
                    teams.forEach(team => this.sortTeam(team));
                    this.obsTeam = this.sortTeam(list);
                    return teams;
                },
                showChangeTeamMemberWindow: function({team, member}, e){
                    let teams = this.teams.concat().filter(t => t !== team);
                    let members = teams.reduce((arr, t) => {
                        arr = arr.concat(t);
                        return arr;
                    }, []);
                    members = this.obsTeam.concat(this.sortTeam(members));
                    console.log('changeTeamMember :', members, e)
                },
                copyTeamsText: function(){
                    let text = [];
                    this.teams.forEach((team, i) => {
                        let t = `${i+1}팀 : ${team.map(t=>t.name).join(', ')}`;
                        text.push(t);
                    });

                    if(this.obsTeam.length > 0){
                        text.push(`옵 : ${this.obsTeam.map(t=>t.name).join(', ')}`);
                    }

                    let tempElem = document.createElement('textarea');
                    tempElem.value = text.join(' / ');
                    document.body.appendChild(tempElem);

                    tempElem.select();
                    document.execCommand("copy");
                    document.body.removeChild(tempElem);
                },
                getMemberPoints: function(member){
                    let point = this.values.levels.pointIndex[member.level] || 0;
                    // if(member.tribe === 'zerg'){
                    //     point += 0.5;
                    // }
                    return point;
                },
                calcTeamLevelPoints: function(team){
                    let highLevelCnt = 0, lowLevelCnt = 0;
                    let points = team.reduce((sum, member) => {
                        if(this.values.levels.lowLevels.includes(member.level)){
                            lowLevelCnt++;
                        }else if(this.values.levels.highLevels.includes(member.level)){
                            highLevelCnt++;
                        }

                        let point = this.getMemberPoints(member);
                        return sum + point;
                    }, 0);

                    if(lowLevelCnt >= 2){
                        points -= 1;
                    }
                    if(highLevelCnt >= 2){
                        points += 0.5;
                    }
                    return points;
                },
                calcWinningRate: function(){
                    let rateList = [];
                    this.winningRate.src.split('\n').forEach(line => {
                        let point = [];
                        line.trim().split(' ').forEach(str => {
                            if(point.length === 2) return;
                            
                            str = str.trim();
                            if(str.length === 0) return;
                            
                            try{
                                let v = eval(str);
                                v = parseFloat(v);
                                if(isNaN(v)) return;
                                
                                point.push(v);
                            }catch(e){
                                return;
                            }
                        });
                        if(point.length !== 2) return;
                        
                        console.log(point);
                        rateList.push(
                            (point[0] / (point[0] + point[1]) * 100).toFixed(2)
                            + '%'
                        );
                    });

                    this.winningRate.result = rateList.join('\n');
                }
            },
            
        });
        console.log('v :', v);
    </script>
</html>
