<!DOCTYPE html>
<html>
    <head>
        <title>Cs 팀 나누기 즐겜 고고</title>
        <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
        <style>
            html, body {
                font-size: 14px;
            }
            .bd01 {
                border: 1px solid #000;
                padding: 4px;
            }
            .inline-b {
                display: inline-block;
            }
            .inline {
                display: inline;
            }
            .inline-g {
                display: inline-grid;
            }
            .align-r {
                text-align: right;
            }
            .bg1 {
                background-color: #f0f0f0;
            }
            .member {
                padding: 2px 2px;
            }
            .member:hover {
                background-color: rgb(178, 220, 240);
            }
            .m-no {
                display: inline-block;
                width: 17px;
                text-align: right;
            }
            .m-name {
                width: calc(100% - 200px);
                padding: 2px;
                border-radius: 2px;
            }
            .m-tribes {
                vertical-align: top;
            }

            .team-member {
                padding: 2px 2px;
                margin: 2px 2px;
                border-radius: 2px;
                cursor: pointer;
            }
            [data-tribe] {
                position: relative;
                border-radius: 2px;
            }
            [data-tribe="zerg"] {
                background-color: rgb(255 0 0 / 70%);
                color: #fff;
            }
            [data-tribe="zerg"]:before {
                content: 'z:';
            }
            [data-tribe="protoss"] {
                background-color: rgb(255 255 0 / 80%);
            }
            [data-tribe="protoss"]:before {
                content: 'p:';
            }
            [data-tribe="terran"] {
                background-color: rgb(0 0 255 / 70%);
                color: #fff;
            }
            [data-tribe="terran"]:before {
                content: 't:';
            }
            [data-tribe="random"] {
                background-color: rgb(0 128 0 / 70%);
                color: #fff;
            }
        </style>
    </head>
    <body>
        <div id="main" style="display: none; width: 100%; height: 100%;">
            <div class="inline-g" style="float: left; width: 350px; ">
                <div class="bd01 inline-b" style="width: 100%;">
                    <textarea style="width: 95%; height: 50px;"
                        v-model="regMemberSrc"
                    ></textarea>
                    <button @click="regMembers">멤버 등록</button>
                    <span>공백, 콤마, 엔터 구분</span>
                </div>
                <div class="align-r" style="margin-top: 10px;">
                    <button @click="delAllMembers">전체삭제</button>
                    <span>전체 : {{members.length}}명</span>
                    <span>선택 : {{selectedMembers.length}}명</span>
                </div>
                <div class="bd01" style="width: 100%;">
                    <div class="member"
                        v-for="(member, i) in members"
                        :class="{
                            bg1: i%2==0
                        }"
                    >
                        <input type="checkbox"
                            :value="member"
                            v-model="selectedMembers"
                        />
                        <span class="m-no">{{i+1}}.</span>
                        <div class="m-name inline-b"
                            :data-tribe="member.tribe"
                        >{{member.name}}</div>

                        <div class="m-tribes inline-b">
                            <select
                                v-model="member.tribe"
                                :data-tribe="member.tribe"
                            >
                                <option v-for="t in values.tribes"
                                    :value="t"
                                    :data-tribe="t"
                                >{{t}}</option>
                            </select>
                        </div>
                        <button class="inline" @click="delMembers(member.name)">삭제</button>
                    </div>
                </div>
            </div>
            <!-- 
            <div class="inline-b" style="width: 200px; min-height: 300px;">
                <div class="bd01" style="width: 100%; min-height: 300px;">
                    <div class="member"
                        v-for="(member, i) in selectedMembers"
                        :class="{
                            bg1: i%2==0
                        }"
                    >
                        <span class="m-no">{{i+1}}.</span>
                        <div class="m-name inline">{{member}}</div>
                    </div>
                </div>
            </div>
             -->
            <div class="inline-g" style="width: 350px; min-height: 200px; margin-left: 20px;">
                <div class="bd01" style="width: 100%;">
                    <div>
                        <span>팀 수</span>
                        <select v-model="teamSize">
                            <option v-for="n in 10">{{n}}</option>
                        </select>
                        <span>팀당 인원</span>
                        <select v-model="memberCntForTeam">
                            <option v-for="n in 4">{{n}}</option>
                        </select>
                    </div>
                    <div>
                        <button @click="devideTeams">나누기 gogo</button>
                        <button @click="copyTeamsText">베넷 채팅용 텍스트 복사</button>
                    </div>
                    <div style="margin-top: 10px">
                        <input type="checkbox" id="devideZerg" v-model="devideZerg.use">
                        <label for="devideZerg">
                            <span>각 팀 저그 배정. 확률 :</span>
                            <select v-model="devideZerg.percent">
                                <option
                                    v-for="n in [100, 90, 80, 70, 60, 50, 40, 30, 20, 10]"
                                    :value="n"
                                >{{n}}%</option>
                            </select>
                        </label>
                    </div>
                    <div style="margin-top: 10px; font-size: 12px; color: red;"
                        v-if="!!this.lastDevideTeamsTime"
                    >
                        마지막 나누기 : {{lastDevideTeamsTimeStr}}
                    </div>
                    <div style="margin-top: 10px">
                        <div style="margin-bottom: 6px;"
                            v-for="(team, i) in teams"
                        >
                            <span>{{i+1}}팀 : </span>
                            <span class="team-member"
                                v-for="member in team"
                                :data-tribe="member.tribe"
                                @click="showChangeTeamMemberWindow({team, member}, $event)"
                            >{{member.name}}</span>
                        </div>
                        <div style="margin-top: 20px;"
                            v-if="obsTeam.length > 0">
                            <span>옵저버({{obsTeam.length}}) : </span>
                            <span class="team-member"
                                v-for="member in obsTeam"
                                :data-tribe="member.tribe"
                            >{{member.name}}</span>
                        </div>
                    </div>

                    <dialog v-if="changeTeamMember.showWindow">
                        
                    </dialog>
                </div>
            </div>
            <div class="inline-g" style="width: 350px; min-height: 150px; margin-left: 20px; margin-top: 20px;">
                <div class="bd01" style="width: 100%;">
                    <div>
                        승률 계산. 좌측에 승 띄고 패 입력.<br>
                        ex) |20 10 | 66.67%|
                    </div>
                    <div style="height: 100%;">
                        <textarea style="width: 120px;height: calc(100% - 50px);margin: 0px;float: left;"
                            v-model="winningRate.src"
                        ></textarea>
                        <textarea readonly style="width: 80px;height: calc(100% - 50px);text-align: right;float: left;"
                            v-model="winningRate.result"
                        ></textarea>
                    </div>
                </div>
            </div>
        </div>
    </body>
    <script>
        window.v = new Vue({
            el: '#main',
            data() {
                return {
                    values: {
                        tribes: ['random', 'zerg', 'protoss', 'terran']
                    },
                    indexObj: {
                        members: {}
                    },

                    regMemberSrc: '',
                    members: [],
                    selectedMembers: [],
                    useObs: false,
                    memberCntForTeam: 3,
                    teamSize: 4,
                    teams: [],
                    obsTeam: [],
                    lastDevideTeamsTime: null,
                    changeTeamMember: {
                        showWindow: false,
                        teamNumber: null,
                        member: null,
                    },
                    devideZerg: {
                        use: false,
                        percent: 80
                    },
                    
                    winningRate: {
                        src: '',
                        result: ''
                    },
                    
                }
            },
            watch: (()=>{
                let obj = {
                    // members: function(){
                    //     this.calcTeamCount();
                    //     this.saveAll();
                    // },
                    members: {
                        deep: true,
                        handler: function(){
                            this.members.forEach(member => {
                                this.indexObj.members[member.name] = member;
                            });

                            this.calcTeamCount();
                            this.saveAll();
                        }
                    },
                    'winningRate.src': function(){
                        this.calcWinningRate();
                        this.saveAll();
                    }
                };
                ['selectedMembers', 'regMemberSrc', 'teams', 'obsTeam'].forEach(t => {
                    obj[t] = function(){
                        this.saveAll();
                    };
                })
                return obj;
            })(),
            computed: {
                lastDevideTeamsTimeStr: function(){
                    if(!this.lastDevideTeamsTime) return '';
                    let dt = new Date(this.lastDevideTeamsTime);

                    function p(s){
                        return (s>9 ? '' : '0') + s;
                    }

                    let mm = dt.getMonth() + 1;
                    let dd = dt.getDate();
                    let h = dt.getHours();
                    let m = dt.getMinutes();
                    let s = dt.getSeconds();

                    return `${p(dt.getHours())}:${p(dt.getMinutes())}:${p(dt.getSeconds())}`;
                }
            },
            created() {
                this.loadAll();
            },
            mounted() {
                this.$el.style.display = '';
            },
            methods: {
                loadAll: function(){
                    let str = localStorage.getItem('savedata');
                    if(!str) return;
                    let obj = JSON.parse(str);
                    console.log('load data :', obj);

                    try{
                        Object.assign(this, obj);
                    }catch(e){
                        console.error('load data error');
                        localStorage.removeItem('savedata');
                    }
                },
                saveAll: function(){
                    clearTimeout(this._timer_savedata);
                    setTimeout(() => {
                        let obj = {};
                        for(var k in v.$data){
                            obj[k] = v.$data[k];
                        }
                        localStorage.setItem('savedata', JSON.stringify(obj));
                    }, 200);
                },
                regMembers: function(){
                    let list = [];
                    this.regMemberSrc.trim().split(' ').forEach(a => {
                        a.split(',').forEach(b => {
                            b.split('\n').forEach(c => {
                                c = c.trim();
                                if(!c) return;
                                list.push(c);
                            })
                        })
                    });
                    
                    if(list.length === 0) return;
                    console.log('reg src :', list.length, list);
                    
                    list.forEach(name => {
                        if(this.members.find(m => m.name === name)){
                            return;
                        }

                        console.log('add :', name);

                        let bMember = this.indexObj.members[name] = this.indexObj.members[name] || {
                            name,
                            tribe: 'random'
                        };
                        this.members.push(bMember);
                    });
                    
                    this.members.sort((a,b) => {
                        return a.name.localeCompare(b.name);
                    });
                },
                delAllMembers: function(){
                    if(!confirm('전체삭제???')) return;
                    this.members = [];
                    this.selectedMembers = [];
                },
                delMembers: function(ms){
                    if(!ms) return;
                    if(typeof ms == 'string') ms = [ms];

                    ms.forEach(name => {
                        let idx = this.members.findIndex(m => m.name === name);
                        if(idx > -1) this.members.splice(idx, 1);

                        idx = this.selectedMembers.findIndex(m => m.name === name);
                        if(idx > -1) this.selectedMembers.splice(idx, 1);
                    });
                },
                calcTeamCount: function(){
                    if(this.members.length === 0) return;
                    let teamSize = Math.floor(this.members.length / this.memberCntForTeam);
                    teamSize -= teamSize % 2;
                    this.teamSize = teamSize;
                },
                sortTeam: function(team){
                    let compare = (a,b) => {
                        return a.tribe === 'zerg' ? -1 : 0;
                    };
                    team.sort(compare);
                    return team;
                },
                devideTeams: function(){
                    this.lastDevideTeamsTime = Date.now();

                    let teams = this.teams = new Array(parseInt(this.teamSize));
                    let list = this.members.concat();
                    // shuffle
                    list = list.map((a) => [Math.random(),a]).sort((a,b) => a[0]-b[0]).map((a) => a[1]);
                    
                    if(this.devideZerg.use){
                        let zergs = (() => {
                            let zergs = list.filter(m => m.tribe === 'zerg');
                            
                            while(zergs.length > teams.length){
                                let idx = parseInt(Math.random() * zergs.length);
                                zergs.splice(idx, 1);
                            }
    
                            return zergs;
                        })();

                        let teamNums = Array.from(Array(teams.length).keys())
                                        .map((a) => [Math.random(),a]).sort((a,b) => a[0]-b[0]).map((a) => a[1]);

                        for(let i=0; zergs.length>0 && i<teamNums.length; i++){
                            if(Math.random() * 100 > this.devideZerg.percent){
                                continue;
                            }

                            let tn = teamNums[i];
                            let team = teams[tn] = teams[tn] || [];

                            let member = zergs.pop();
                            team.push( member );

                            let idx = list.findIndex(m => m===member);
                            list.splice(idx, 1);
                        }
                    }

                    for(let i=0; i<teams.length; i++){
                        let team = teams[i] = teams[i] || [];
                        
                        while(list.length > 0 && team.length < this.memberCntForTeam){
                            let idx = parseInt(Math.random() * list.length);
                            team.push( list[idx] );
                            list.splice(idx, 1);
                        }
                    }
                    
                    teams.forEach(team => this.sortTeam(team));
                    this.obsTeam = this.sortTeam(list);
                },
                showChangeTeamMemberWindow: function({team, member}, e){
                    let teams = this.teams.concat().filter(t => t !== team);
                    let members = teams.reduce((arr, t) => {
                        arr = arr.concat(t);
                        return arr;
                    }, []);
                    members = this.obsTeam.concat(this.sortTeam(members));
                    console.log('changeTeamMember :', members, e)
                },
                copyTeamsText: function(){
                    let text = [];
                    this.teams.forEach((team, i) => {
                        let t = `${i+1}팀 : ${team.map(t=>t.name).join(', ')}`;
                        text.push(t);
                    });

                    if(this.obsTeam.length > 0){
                        text.push(`옵 : ${this.obsTeam.map(t=>t.name).join(', ')}`);
                    }

                    let tempElem = document.createElement('textarea');
                    tempElem.value = text.join(' / ');
                    document.body.appendChild(tempElem);

                    tempElem.select();
                    document.execCommand("copy");
                    document.body.removeChild(tempElem);
                },
                calcWinningRate: function(){
                    let rateList = [];
                    this.winningRate.src.split('\n').forEach(line => {
                        let point = [];
                        line.trim().split(' ').forEach(str => {
                            if(point.length === 2) return;
                            
                            str = str.trim();
                            if(str.length === 0) return;
                            
                            try{
                                let v = eval(str);
                                v = parseFloat(v);
                                if(isNaN(v)) return;
                                
                                point.push(v);
                            }catch(e){
                                return;
                            }
                        });
                        if(point.length !== 2) return;
                        
                        console.log(point);
                        rateList.push(
                            (point[0] / (point[0] + point[1]) * 100).toFixed(2)
                            + '%'
                        );
                    });

                    this.winningRate.result = rateList.join('\n');
                }
            },
            
        });
        console.log('v :', v);
    </script>
</html>
